{% extends 'base.html' %}

{% block content %}
<section class="ftco-section bg-light categoryfundraisesec">

    <div class="container">
         <div class="section-title" data-aos="fade-right">


              <h2>Fundraising categories</h2>

            </div>

        <div class="row">

            {% for category in categories %}
                 
            <div class="col-md-4">
               <a href="https://gofundmeclone.phpliveprojects.com/category/viewcategory/1">
                  <div class="singlesection">

                 
                    <img src="https://gofundmeclone.phpliveprojects.com/public/files/category/1689405722_321cd0231801402b40f0.jpg" class="singlesection-img img-fluid" alt="">
                

                    <h3>{{category.name}}</h3>
  
                     
                  </div> 

              </a>
             

                   </div>
                   {% endfor %}

                        
         

                 
                  
          

        </div>

    </div>

</section>
{% endblock %}