<!-- donation.html -->
{% extends 'base.html' %}

{% block title %} Donate {% endblock title %}

{% block stylesheets %}
<!-- Add any CSS stylesheets here if needed -->
{% endblock stylesheets %}

{% block content %}
<section class="ftco-section bg-light categorydetailfirstsec" style="background: #fff;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 textsec">
        <h3 style="padding: 20px 0px; font-size: 30px; font-weight: bold;">{{ project.name }}</h3>
        {% with first_image=project.image_set.first %}
        <img src="{{ first_image.image.url }}" class="img-fluid" style="margin-bottom: 20px; width: 100%; border-radius: 20px;">
        {% endwith %}
        <div class="date-category">
          <span>{{ project.start }}</span> 
          <span class="btn btn-success" style="float: right; padding: 5px 20px;">Animals</span>
        </div>
        <p>{{ project.description }}</p>
      </div>
      <div class="col-md-4 mt-5">
        <h2 style="width:100%; margin-bottom:10px; padding: 10px; font-weight: bold;">Donate to {{ project.name }}</h2>
        <p>Total budget: {{ project.target }}</p>
        <p>Amount raised: {{ total_donation }}</p>
        <p>Amount needed to reach target: {{ remaining_amount }}</p>
        <!-- Donation form -->
        <form id="donationForm" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="donate_amount">Amount to Donate:</label>
            <input type="number" step="0.01" min="0.01" id="donate_amount" name="donate_amount" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary mt-3 ms-3" {% if remaining_amount <= 0 %}disabled{% endif %}>
            Donate
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}