{%extends 'base.html'%} 
{% block content %}
<style>
  .slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slides {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: transform 0.5s ease-in-out;
}

.slides li {
  width: 100%;
  height: 100%;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
<h2 class="text-danger text-center">{{msg}}</h2>
<section
  class="ftco-section bg-light categorydetailfirstsec"
  style="background: #fff"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 textsec">
      <!-- Inside your project's template -->


        <h3 style="padding: 20px 0px; font-size: 30px; font-weight: bold">
          {{ project.name }}
        </h3>
        
        <div class="slide-container">
        {% for image in project.image_set.all %}           
          <span id="slider{{image.id}}"></span>
          <!-- <span id="slider2"></span>
          <span id="slider3"></span>
          <span id="slider4"></span>
          <span id="slider5"></span> -->
          {%endfor%}

          <div class="image-container">

        <div class="slider">
          <ul class="slides">
            {% for image in project.image_set.all %}           
            <li><img src="{{ image.image.url }}" class="img-fluid"
              style="margin-bottom: 20px; width: 100%; border-radius: 20px"></li>
              {% endfor %}
          </ul>
      </div>
          
         

            

        <!-- <img
          src="{{ image.image.url }}"
          class="img-fluid"
          style="margin-bottom: 20px; width: 100%; border-radius: 20px"
        /> -->
        

        <div class="date-category">
          <span>{{ project.start }}</span>
          <span class="btn btn-success" style="float: right; padding: 5px 20px">{{project.category}}</span>
          <a href="{% url 'report_project' project.id %}" class="btn text-danger">Report Project</a>
        </div>

        <p>{{ project.description }}</p>
        
        <div class="row">
          <div class="col">
              <a href="{%url 'donate' project.id %}" class="btn btn-warning" style="width:100%;padding: 10px;font-weight: bold;"><b>Donate Now !</b></a>

            </div>
             <div class="col">
            <button
              type="button"
              class="btn btn-outline-warning"
              data-bs-toggle="modal"
              data-bs-target="#shareModal"
              style="width: 100%; padding: 10px; font-weight: bold"
            >
              Share
            </button>
            </div>

            

            {% if user.profile == project.user.profile %}
          <div class="col">
            <a
              href="{%url 'deleteProject' project.id %}"
              class="btn btn-danger"
              style="width: 100%; padding: 10px; font-weight: bold"
              >Delete</a
            >
          </div>
          {% endif %}
          </div>
         

       <!-- start Rating -->
            <div>
                <h3 style="font-weight: bold; font-size: 27px; padding: 10px 0px;">Latest Rating: {{ latest_rating }}</h3>
            
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#rateModel">
                    Choose Rating 
                </button>
            
                <div id="submittedRating"></div>
            
                <div class="modal fade" id="rateModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Rating Project</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <!-- This ngb-rating is an Angular directive, make sure Angular is included and configured -->
                                <!-- This is the placeholder for ngb-rating, you may replace it with your Angular code -->
                                <div id="rateYo1" style="margin: 10px auto"></div>
                                <div class="counter" style="float: left; font-weight: bold; margin-left: 10px; margin-top: 7px;"></div>
                                <div style="clear: both"></div>
                            </div>
                            <div class="btns d-flex justify-content-end p-4 mt-2">
                                <button type="button" class="btn btn-warning mx-3" data-bs-dismiss="modal">Close</button>
                                <!-- Assuming this button is for submitting the rating -->
                                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Send Rate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <!-- end rating  -->
        <div class="beneficiarydetail">

            <h3 style=" padding: 10px 0px 20px;font-weight: bold;font-size: 22px;">Created by: </h3>

            <div class="row">

              <div class="col-md-1">
                {% if project.user.profile.image %}
               <img src="{{project.user.profile.image.url}}" class="beneficiary_img" alt="{{project.user.username}}">
                {% else %}
               <img src="https://maventricksdemo.co.in/bidonn/public/css/images/noImage.jpg" class="beneficiary_img">

               {% endif %}    
              </div>

              <div class="col-md-11">

                <h4></h4>

                <p> {{ project.user.username }} </p>

              </div>

            </div>

          </div>


 <div class="fundraiserdetail">
    <h3 style="font-weight: bold; font-size: 27px;padding: 10px 0px;">Comments ({{ project.comments.count }})</h3>
    {% if project.comments.all %}
{% for comment in project.comments.all %}
    <div class="row comment">
        <div class="col-md-1">
            <!-- Display commenter's profile image here -->
            {% if comment.user.profile.image %}
                <img src="{{ comment.user.profile.image}}" class="beneficiary_img" alt="{{ comment.user.username }}">
            {% else %}
                <img src="https://maventricksdemo.co.in/bidonn/public/css/images/noImage.jpg" class="beneficiary_img">
            {% endif %}
        </div>
        <div class="col-md-11">
            <h4>{{ comment.user.username }}</h4>
            <p>{{ comment.text }}</p>
            <button class="btn text-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{ forloop.counter }}add_replies" aria-expanded="false" aria-controls="collapseExample{{ forloop.counter }}add_replies">
                Reply
            </button>
           <!-- Inside the comment loop -->
<div class="collapse" id="collapseExample{{ forloop.counter }}add_replies">
    <form class="d-flex flex-column align-items-end add-reply-form" data-url="{% url 'add_reply' comment.id %}">
        {% csrf_token %}
        <textarea name="reply_text" rows="2" class="col-md-12 form-control"></textarea>
        <button type="submit" class="btn text-success">Reply</button>


    </form>
</div>

            <button class="btn text-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{ forloop.counter }}show_replies" aria-expanded="false" aria-controls="collapseExample{{ forloop.counter }}show_replies">
                Show Replies
            </button>
<!-- Update the button to open the modal -->
<button type="button" class="btn text-danger report-button" data-bs-toggle="modal" data-bs-target="#reportModal{{ comment.id }}" data-comment-id="{{ comment.id }}">
        Report
</button>



<!-- Modal -->
<div class="modal fade" id="reportModal{{ comment.id }}" tabindex="-1" aria-labelledby="reportModalLabel{{ comment.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel{{ comment.id }}">Report Comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Please select a reason for reporting this comment:</p>
                <form action="{% url 'report_comment' comment.id %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="reason" class="form-label">Reason for reporting:</label>
                        <select name="reason" id="reason" class="form-select" required>
                            <option value="" selected disabled>Select a reason</option>
                            <option value="spam">Spam</option>
                            <option value="inappropriate">Inappropriate content</option>
                            <option value="offensive">Offensive</option>
                        
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="additional_comments" class="form-label">Additional comments (optional):</label>
                        <textarea name="additional_comments" id="additional_comments" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger report-submit-button">Submit</button>
                    <button type="button" class="btn btn-secondary cancel-report-button" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


            <!-- Display replies for each comment -->
            <div class="collapse" id="collapseExample{{ forloop.counter }}show_replies">
                <hr class="my-0" />
                <ul class="list-unstyled mt-1">
                    {% for reply in comment.replies.all %}
                        <li class=" mt-1">
                            <div class="comment d-flex">
                                <div class="col-md-1">
                                    <img class="rounded-circle img-thumbnail" src="{{ reply.user.profile_img.url }}"  style="width: 40px;height:40px;" />
                                </div>
                                <div class="col-md-8 mx-3">
                                    <h6 class="comment-header mb-0">{{ reply.user|title }}</h6>
                                    <p class="comment-time"><small><small>{{ reply.created_at }}</small></small></p>
                                    <p class="comment-content">{{ reply.reply_text }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
           
        </div>
    </div>
{% endfor %}

    {% else %}
        <p>No comments yet. Be the first one to comment!</p>
    {% endif %}

    <!-- Comment Form -->
    <form id="comment-form" method="post" data-url="{% url 'add_comment' project.id %}">
        {% csrf_token %}
        <textarea id="comment-text" name="text" class="form-control" placeholder="Add your comment here" rows="4"></textarea>
        <button type="button" id="submit-comment" class="btn btn-success m-2">Post Comment</button>
    </form>
</div>






            
         
    </div>    
      
   
            
  </div>
    <div><h3>Similar Projects</h3></div>
          {% if similarProjects %}
  {% for project in similarProjects %}
  
  
  <div class="col-md-4">
      <a href="{%url 'project_details' project.id%}">
        <div class="singlesection">

          {% with first_image=project.image_set.first %}
       
          <img src="{{ first_image.image.url }}" class="singlesection-img img-fluid" alt="{{first_image.id}}">
      
          {% endwith %}

       <div class="row" style="padding:10px">

          <div class="col-md-6">
              <h3>{{project.name}}</h3>
          </div>

          <div class="col-md-6">
              <h3 style="text-align: center;background: #009970;padding: 4px;color: #fff;border-radius: 10px;"> <span style="font-weight: bold;font-size:20px">{{project.category}} </span></h3>
          </div>
      </div>
          
          

            <progress id="file" value="{{project.current_amount}}" max="{{project.target}}" style="width: 100%;"> </progress>
           <h3> <span style="font-weight: bold;font-size:20px">USD {{project.current_amount}} </span> paid of &nbsp; USD {{project.target}}</h3>
                
          
        </div> 
    </a>

         </div>
         
  {% endfor %}
 
{% endif %}
          </div>

          <div class="col-md-4" >

            <div
              class="right-sharesection"
              style="
                
                box-shadow: 0px -2px 7px #605d5d;
                padding: 30px;
                background: #fff;
                z-index: 1;
              "
            >
              <progress
                id="file"
                value="{{ project.current_amount }}"
                max="{{ project.target }}"
                style="width: 100%"
              ></progress>
              
              <p>
                
                <span style="font-weight: bold; font-size: 20px">USD {{ remain }} </span>
                raised of &nbsp; USD {{ project.target }} goal
                
              </p>
      
              <p>{{ donations.count }} Donations</p>
      
              <a
                href="{% url 'donate' project.id %}"
                class="btn btn-warning"
                style="
                  width: 100%;
                  margin-bottom: 10px;
                  padding: 10px;
                  font-weight: bold;
                "
                >Donate</a
              >
      
              <button
                type="button"
                class="btn btn-warning"
                data-bs-toggle="moda"
                data-bs-target="#shareModa"
                style="
                  width: 100%;
                  margin-bottom: 10px;
                  padding: 10px;
                  font-weight: bold;
                "
              >
                Share
              </button>
              {% for donation in donations %}
              <div style="padding:10px;border-bottom:1px solid #eee">
      
      
      
                <div class="row">
      
               <div class="col-md-2">
      
                  {% if donation.user.profile.image.url %}
                <img src="{{donation.user.profile.image.url}}" class="rightdonor_img" alt="">
                {% else %}
                <img src="https://maventricksdemo.co.in/bidonn/public/css/images/noImage.jpg" class="rightdonor_img">
                             
                {% endif %}
              
               </div>
      
               <div class="col-md-10">
      
                 <h4 style="font-size: 17px;font-weight: bold;"></h4>
      
                 <p><i class="bi bi-cash"></i> USD {{donation.donation}} <span style="font-weight: bold; text-decoration: underline;">{{ donation.user.username }}</span> </p>
                <p class="text-success">{{donation.created_at}}</p>
                
               </div>
      
      
             </div>
      
           </div>
           {% endfor %}  
              
                                    <div id="rateYo1" style="margin: 10px auto"></div>
                                    <div class="counter" style="float: left; font-weight: bold; margin-left: 10px; margin-top: 7px;"></div>
                                    <div style="clear: both"></div>
                                </div>
                                
          </div>
    </div>
  </div>
  <!--start Modal -->
  <div
  class="modal fade"
  id="shareModal"
  tabindex="-1"
  aria-labelledby="exampleModaLabel"
  aria-hidden="true"
  >
  <div class="moda-dialog">
    <div class="moda-content">
      <div class="moda-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h3
          style="
            font-size: 20px;
            font-weight: bold;
            padding: 10px 5px 5px;
          "
        >
          Help by sharing
        </h3>
        <h3 style="font-size: 14px; padding: 5px 0px 20px">
          Fundraisers shared on social networks raise up to 5x more.
        </h3>


        <div class="socialmediasection">
          <div class="row">
            <div class="col-md-3">
              <a
                href="https://www.facebook.com/sharer.php?u=https://gofundmeclone.phpliveprojects.com//category/categorydetail/5"
                class="facebook"
                target="_blank"
                ><i class="bx bxl-facebook"></i
              ></a>

            <p> <span style="font-weight: bold;font-size:20px">USD 12 </span> raised of &nbsp; USD 1000 goal </p>

             <p> 2 Donations</p>


             <a href="{% url 'donate' project.id %}?image_url={{ first_image.image.url }}" class="btn btn-warning mb-3" style="width:100%;padding: 10px;font-weight: bold;"><b>ADD DONATION</b></a>
            
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#shareModal" style="width:100%;margin-bottom:10px;padding: 10px;font-weight: bold;">Share</button>
              <div style="padding:10px;border-bottom:1px solid #eee">
               <div class="row">

              <div class="col-md-2">

              <div class="col-md-2">
                <img
                  src="https://maventricksdemo.co.in/bidonn/public/css/images/noImage.jpg"
                  class="rightdonor_img"
                />
  
              </div>

              <div class="col-md-10">
                <h4 style="font-size: 17px; font-weight: bold"></h4>

                <p>
                  <i class="bi bi-cash"></i> USD 2
                  <span style="font-weight: bold; text-decoration: underline"
                    >Recent Donation</span
                  >
                </p>
              </div>

            </div>

            <div class="col-md-3">
              <a
                href="http://twitter.com/share?text=text&url=https://gofundmeclone.phpliveprojects.com//category/categorydetail/5&hashtags=#PHP"
                class="twitter"
                target="_blank"
                ><i class="bx bxl-twitter"></i
              ></a>
            </div>


            <div class="col-md-3">
              <a
                href="https://mail.google.com/mail/?view=cm&su=Animal Rescue farm&body=https://gofundmeclone.phpliveprojects.com//category/categorydetail/5"
                class="gmail"
                target="_blank"
                ><i class="bx bxl-gmail" target="_blank"></i
              ></a>
            </div>

            <div class="col-md-3">
              <a
                href="https://api.whatsapp.com/send?phone=&text= https://gofundmeclone.phpliveprojects.com//category/categorydetail/5"
                class="whatsapp"
                target="_blank"
                ><i class="bx bxl-whatsapp"></i
              ></a>

          <div style="padding: 10px; border-bottom: 1px solid #eee">
            <div class="row">
              <div class="col-md-2">
                <img
                  src="https://maventricksdemo.co.in/bidonn/public/css/images/noImage.jpg"
                  class="rightdonor_img"
                />
              </div>

              <div class="col-md-10">
                <h4 style="font-size: 17px; font-weight: bold"></h4>

                <p>
                  <i class="bi bi-cash"></i> USD 10
                  <span style="font-weight: bold; text-decoration: underline"
                    >First Donation</span
                  >
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        </div>
        </div>
    </div>
    </div>
  </div>
<!-- end Modal -->

</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
    $(function() {
        var rating = 0;

        // Initialize RateYo plugin with readOnly option set to false and starHover set to false
        $("#rateYo1").rateYo({
            rating: rating,
            numStars: 5,
            precision: 2,
            starWidth: "64px",
            spacing: "5px",
            readOnly: false, // Enable interactivity
            starHover: false, // Disable hover effect
            multiColor: {
                startColor: "#000000",
                endColor: "#ffffff"
            },
            // Triggered when the rating is set
            onSet: function(rating) {
                // Update the display with the submitted rating
                $("#submittedRating").text("Your rating is: " + rating);
                
                // Here you can add code to submit the rating to the server
                // For example, you can use AJAX to send the rating data to the server
                var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
                $.ajax({
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: csrfToken,  // Include CSRF token
                        rating: rating
                    },
                    success: function(response) {
                        console.log("Rating submitted successfully.");
                        // Update the displayed latest rating
                        $('#latest-rating').text("Latest Rating: " + rating);
                    },
                    error: function(xhr, status, error) {
                        console.error("Error submitting rating:", error);
                    }
                });
            }
        });

        $('#submit-comment').click(function() {
            var form = $('#comment-form');
            var url = form.attr('data-url');
            var formData = form.serialize();

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function(data) {
                    var comment = data.comment;
                    var commentHtml = '<div class="row comment"><div class="col-md-1">';
                    commentHtml += '<img src="' + comment.user_profile_image + '" class="beneficiary_img" alt="' + comment.username + '"></div>';
                    commentHtml += '<div class="col-md-11"><h4>' + comment.username + '</h4>';
                    commentHtml += '<p>' + comment.text + '</p>';

                    // Check if there are replies for this comment
                    if (comment.replies && comment.replies.length > 0) {
                        commentHtml += '<ul class="list-unstyled">';
                        // Iterate over each reply and add it to the comment
                        comment.replies.forEach(function(reply) {
                            commentHtml += '<li class="mt-1">';
                            commentHtml += '<div class="comment d-flex">';
                            commentHtml += '<div class="col-md-1">';
                            commentHtml += '<img class="rounded-circle img-thumbnail" src="' + reply.user_profile_image + '"  style="width: 40px;height:40px;" />';
                            commentHtml += '</div>';
                            commentHtml += '<div class="col-md-8 mx-3">';
                            commentHtml += '<h6 class="comment-header mb-0">' + reply.username + '</h6>';
                            commentHtml += '<p class="comment-time"><small><small>' + reply.created_at + '</small></small></p>';
                            commentHtml += '<p class="comment-content">' + reply.reply_text + '</p>';
                            commentHtml += '</div></div></li>';
                        });
                        commentHtml += '</ul>';
                    }

                    commentHtml += '</div></div>';
                    $('.fundraiserdetail h3').after(commentHtml); // Insert after the h3 element
                    $('#comment-text').val('');
                    
                    // Update comment count
                    var commentCount = parseInt($('.fundraiserdetail h3').text().match(/\d+/)[0]); // Extract current comment count
                    commentCount++; // Increment comment count
                    $('.fundraiserdetail h3').text('Comments (' + commentCount + ')'); // Update comment count in the heading
                    if (commentCount > 0) {
                        $('.no-comments-message').hide();
                    }
                },
                error: function(xhr, errmsg, err) {
                    // Handle error
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });

        $('.add-reply-form').submit(function(e) {
            e.preventDefault(); 

            var form = $(this);
            var url = form.attr('data-url');
            var formData = form.serialize();

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function(data) {
                    var reply = data.reply;
                    var replyHtml = '<li class=" mt-1">';
                    replyHtml += '<div class="comment d-flex">';
                    replyHtml += '<div class="col-md-1">';
                    replyHtml += '<img class="rounded-circle img-thumbnail" src="' + reply.user_profile_image + '"  style="width: 40px;height:40px;" />';
                    replyHtml += '</div>';
                    replyHtml += '<div class="col-md-8 mx-3">';
                    replyHtml += '<h6 class="comment-header mb-0">' + reply.username + '</h6>';
                    replyHtml += '<p class="comment-time"><small><small>' + reply.created_at + '</small></small></p>';
                    replyHtml += '<p class="comment-content">' + reply.reply_text + '</p>';
                    replyHtml += '</div></div></li>';
                    form.closest('.comment').find('.list-unstyled').append(replyHtml);
                    form.find('textarea').val('');
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }); 


    });
</script>


{% endblock %}

