{% extends "base.html" %}

{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>

<div class="container-xl px-4 mt-4">
    <h2>Profile Edit</h2>

    <hr class="mt-0 mb-4">
    <div class="row">
    <div class="col-xl-4">
    
    <div class="card mb-4 mb-xl-0">
    <div class="card-header">Profile Picture</div>
    <div class="card-body text-center">
        {% if user.profile.image %}
        <img src="{{user.profile.image.url}}" class="img-account-profile rounded-circle mb-2" width="350px" alt="{{project.user.username}}">
         {% else %}
         <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt>

        {% endif %}
    
    <!-- <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
    
    <button class="btn btn-primary" type="button">Upload new image</button> -->
    </div>
    </div>
    </div>
    <div class="col-xl-8">
    
    <div class="card mb-4">
    <div class="card-header">Account Details</div>
    <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
    
    <!-- <div class="mb-3">
    <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
    <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username">
    </div>
    
    <div class="row gx-3 mb-3">
    
    <div class="col-md-6">
    <label class="small mb-1" for="inputFirstName">First name</label>
    <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="Valerie">
    </div>
    
    <div class="col-md-6">
    <label class="small mb-1" for="inputLastName">Last name</label>
    <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="Luna">
    </div>
    </div>
    
    <div class="row gx-3 mb-3">
    
    <div class="col-md-6">
    <label class="small mb-1" for="inputOrgName">Organization name</label>
    <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Start Bootstrap">
    </div>
    
    <div class="col-md-6">
    <label class="small mb-1" for="inputLocation">Location</label>
    <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="San Francisco, CA">
    </div>
    </div>
    
    <div class="mb-3">
    <label class="small mb-1" for="inputEmailAddress">Email address</label>
    <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="name@example.com">
    </div>
    
    <div class="row gx-3 mb-3">
    
    <div class="col-md-6">
    <label class="small mb-1" for="inputPhone">Phone number</label>
    <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="555-123-4567">
    </div>
    
    <div class="col-md-6">
    <label class="small mb-1" for="inputBirthday">Birthday</label>
    <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">
    </div>
    </div> -->
    {% csrf_token %}
    {{userform.as_p}}
    {{profileform.as_p}}
    <button class="btn btn-primary" type="submit">Save changes</button>
    <button class="btn btn-danger " style="float: right;" > <a href="{% url 'delete_account' %}" class="text-light">Delete your account</a></button>

    </form>

    </div>

    </div>

     
</div>
    </div>


    <div class="row">
        {%if projects%}
        <h2>Your Projects</h2>
        {%for project in projects%}
        <div class="col-6 ">
            <div class="col-md-4">
                <a href="{%url 'project_details' project.id%}">
                  <div class="singlesection">
          
                    {% with first_image=project.image_set.first %}
                 
                    <img src="{{ first_image.image.url }}" class="singlesection-img img-fluid" alt="{{first_image.id}}">
                
                    {% endwith %}
          
                 <div class="row" style="padding:10px">
          
                    <div class="col-md-6">
                        <h3>{{project.name}}</h3>
                    </div>
          
                    <div class="col-md-6">
                        <h3 style="text-align: center;background: #009970;padding: 4px;color: #fff;border-radius: 10px;"> <span style="font-weight: bold;font-size:20px">{{project.category}} </span></h3>
                    </div>
                </div>
                    
                    
          
                      <progress id="file" value="{{project.current_amount}}" max="{{project.target}}" style="width: 100%;"> </progress>
                     <h3> <span style="font-weight: bold;font-size:20px">USD {{project.current_amount}} </span> paid of &nbsp; USD {{project.target}}</h3>
                          
                    
                  </div> 
              </a>
          
                   </div>
        </div>
        {% endfor %}
            {%else%}
            <p>No projects found</p>
            {%endif%}
    </div> 
    
   
    
    <h2>Your Donations</h2>
    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Amount</th>
                <th>Time</th>

            </tr>
        </thead>
        <tbody>
            {% for donation in donations %}
                <tr>
                    <td > <a href="{%url 'project_details' donation.project.id%}">{{ donation.project }}</a></td>
                    <td>{{ donation.donation }}</td>
                    <td>{{ donation.created_at }}</td>

                </tr>
            {% empty %}
                <tr>
                    <td>No donations found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
<!-- <form method="POST">
    {% csrf_token %}
    {{userform}}
    {{profileform}}
    <input type="submit" value="Edit Profile">
</form> -->
<script>
    
</script>
{%endblock%}