{% extends "base.html" %}

{% block content %}

<main id="main">

  <!-- ======= Contact Section ======= -->

  <section id="contact" class="contact">

    <div class="container">

      <div class="section-title">

            <h2>Login</h2>

            <p>Sign in to FundmeClone </p>

      
          </div>

          <div class="boxshadowsection">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-right">

    <img src="https://gofundmeclone.phpliveprojects.com/public/frontend/assets/img/login_banner.jpg" class="img-fluid" alt="">

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100" style="padding:40px">

      <p style="float:right;padding:6px" class="col">Don't have an account? <a href="/accounts/signup">Sign up</a></p>

      {% if form.errors %}
    <p class="text-danger">Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p class="text-danger">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

          <form method="post" action="{% url 'login' %}" role="form" class="php-email-form mt-5">
            {% csrf_token %}
            <table>
              <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
              </tr>
              <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
              </tr>
            </table>
            
             <!-- <div class="form-group mt-3">

              <input type="email" class="form-control" name="email" placeholder="Email Address" value="">

      <span class="error"></span>

            </div>

           <div class="form-group mt-3">

              <input type="password" class="form-control" name="pwd"  placeholder="Password" value="">

      <span class="error"></span>

            </div>-->

             <span><a href="/accounts/password_reset">Forgot your password?</a></span>

            <div class="text-center"><button type="submit" class="btn btn-success" name="register">Login</button></div> 
            <input type="hidden" name="next" value="{{ next }}" />

          </form>
          <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

        </div>

      </div>

  </div>

    </div>

  </section><!-- End Contact Section -->

</main><!-- End #main -->



  
  
  <form >
    
  </form>
  
  <!-- {# Assumes you setup the password_reset view in your URLconf #} -->
  
{% endblock %}