{%extends 'base.html'%}

{% block content %}


<main id="main">
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
            <h2>Signup</h2>
            <p>Sign up to FundmeClone </p>
                  </div>
          <div class="boxshadowsection">
      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
    <img src="https://gofundmeclone.phpliveprojects.com/public/frontend/assets/img/login_banner.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
      <span style="float:right;padding:6px">Already have an account? <a href="/accounts/login">Sign in</a></span>
      <form action="" method="post" class="php-email-form mt-5">
      <!-- <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="first_name" class="form-control" placeholder="First Name" value="">
        <span class="error"></span>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="">
        <span class="error"></span>
              </div>
            </div>
             <div class="form-group mt-3">
              <input type="email" class="form-control" name="email" placeholder="Email Address" value="">
      <span class="error"></span>
            </div>
           <div class="form-group mt-3">
              <input type="password" class="form-control" name="pwd"  placeholder="Password" value="">
      <span class="error"></span>
            </div>
       <div class="form-group mt-3">
              <input type="password" class="form-control" name="cpwd"  placeholder=" Confirm Password" value="">
      <span class="error"></span>
            </div> -->

            
      {% csrf_token %}    
      {% for field in form %}
      <div class="form-group mt-3">
         {{ field.label_tag }}<br> 
        <p class="form-contr" > {{ field }} </p> 
        {% if field.help_text %}
          <small style="color: goldenrod;">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>

    </div>
      {% endfor %}
    
      <span>By continuing, you agree to the AbunaFundme <a href="https://gofundmeclone.phpliveprojects.com/home/page/2" target="_blank">terms of service</a> and <a href="https://gofundmeclone.phpliveprojects.com/home/page/1" target="_blank">privacy policy</a></span>
            <div class="text-center"><button type="submit" class="btn btn-success" name="register">Submit</button></div>
          
          
          </form>
        </div>
      </div>
  </div>
    </div>
  </section><!-- End Contact Section -->
</main><!-- End #main -->



  <!-- <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}    <button type="submit">Sign up</button>
  </form> -->
{% endblock %}
