{%extends 'base.html'%}

{% block content %}


<main id="main">
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
            <h2>Signup</h2>
            <p>Sign up to FundmeClone </p>
                  </div>
          <div class="boxshadowsection">
      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
    <img src="https://gofundmeclone.phpliveprojects.com/public/frontend/assets/img/login_banner.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
      <span style="float:right;padding:6px">Already have an account? <a href="/accounts/login">Sign in</a></span>
      <form action="" method="post" class="php-email-form mt-5">
      
      {% csrf_token %}    
      {{form.as_p}}
    
      <span>By continuing, you agree to the AbunaFundme <a href="https://gofundmeclone.phpliveprojects.com/home/page/2" target="_blank">terms of service</a> and <a href="https://gofundmeclone.phpliveprojects.com/home/page/1" target="_blank">privacy policy</a></span>
            <div class="text-center"><button type="submit" class="btn btn-success" name="register">Submit</button></div>
          
          
          </form>
        </div>
      </div>
  </div>
    </div>
  </section><!-- End Contact Section -->
</main><!-- End #main -->



  <!-- <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}    <button type="submit">Sign up</button>
  </form> -->
{% endblock %}
