{%extends 'base.html'%}
{%block content%}
<style type="text/css">
    
    #innerheader {
padding: 10px 0px;
    }
    section {
    padding: 100px 0 50px;
}
button.close.msgclose {
    float: right;
}
  </style>

<section class="ftco-section bg-light categoryfundraisesec">

    <div class="container">
         <div class="section-title" data-aos="fade-right">


              <h3 style="font-size:20px">Search</h3>

              <form method="post" action={%url 'search'%} style="width:40%; margin:0px auto">
                {% csrf_token %}
                <div class="input-group mb-3" >
  <input type="text" class="form-control" name="search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" value="" style="height: 50px; border:1px solid #000">
   
  <div class="input-group-append">
    <input class="btn btn-success" type="submit" value="Search" name="searchbtn" style="height: 50px;">
  </div>
</div>

              <!-- <span class="error"></span>  -->
            
            
              </form>

            </div>

        <div class="row">

                 {%for project,img in result%}
            <div class="col-md-4">
                <a href="https://gofundmeclone.phpliveprojects.com/category/categorydetail/1">
                  <div class="singlesection">

                 
                    <img src={{img}} class="singlesection-img img-fluid" alt="">
                

                 <div class="row" style="padding;10px">

                    <div class="col-md-6">
                <h3>{{project.name}}</h3>
                    </div>

                    <div class="col-md-6">
                        <h3 style="text-align: center;background: #009970;padding: 4px;color: #fff;border-radius: 10px;"> <span style="font-weight: bold;font-size:20px">{{project.tags}} </span></h3>
                    </div>
                </div>
                    <p>
                    <p>{{project.description}}</p>

                      <progress id="file" value="613" max="100" style="width: 100%;"> </progress>
                     <h3> <span style="font-weight: bold;font-size:20px">USD {{project.target}} </span> raised of &nbsp; USD 100</h3>
                          
                    
                  </div> 
              </a>

                   </div>
{%endfor%}

                        

                        


                 
                  
                    <a href="#" class="readmore ">
                <i class="bi bi-arrow-right" style="float:right"></i>
                <span style="float:right">See More</span></a> 
        
        </div>

    </div>

</section>

 
{%endblock%}