{%extends 'base.html'%}

{% block content %}
<section id="hero" class="d-flex align-items-center">

  <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">

    <h1>Your home</h1>

    <h2>for help</h2>

    <a href="#about" class="btn-get-started scrollto">Start a GoFundMe</a>

  </div>

</section><!-- End Hero -->

<style>
#hero {
  
  background: url(https://gofundmeclone.phpliveprojects.com//public/files/site_logo/Maine.jpg) !important;
  
}
button.close.msgclose {
  float: right;
}
</style>


<main id="main">



   <!-- ======= Services Section ======= -->

  <section id="services" class="services section-bg">

    <div class="container">

<div class="section-title" data-aos="fade-right">

            <p>What to expect</p>

            <h2>Fundraising on GoFundMe takes just a few minutes</h2>

          </div>

      <div class="row">

        <div class="col-lg-4">

         <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">

                <div class="icon"><span class="">1</span></div>

                <h4><a href="">Start with the basics</a></h4>

                <p>Kick things off with your name and location.</p>

              </div>

        </div>

         <div class="col-lg-4">

         <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">

                <div class="icon"><span class="">2</span></div>

                <h4><a href="">Tell your story</a></h4>

                <p>We'll guide you with tips along the way.</p>

              </div>

        </div>

        <div class="col-lg-4">

         <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">

                <div class="icon"><span class="">3</span></div>

                <h4><a href="">Share with friends and family</a></h4>

                <p>People out there want to help you.</p>

              </div>

        </div>
        

      </div>



    </div>

  </section><!-- End Services Section -->

  



  <!-- ======= About Section ======= -->

  <section id="about" class="about" style="background: #009970;">

    <div class="container">



      <div class="row content">

        <div class="col-lg-12" data-aos="fade-right" data-aos-delay="100">

          <h2>Trust & Safety</h2>

          <h3>We have your back.</h3>

          <p style="color:#fff">

           With a global team dedicated to trust and safety, we’ve successfully managed fundraisers worldwide for more than a decade. Don’t worry about a thing, we’ve got you covered.

          </p>


          

        </div>

        

      </div>



    </div>

  </section><!-- End About Section -->



 



  <!-- ======= Why Us Section ======= -->

  <section id="why-us" class="why-us">

    <div class="container">



      <div class="row">

        <div class="col-lg-4 align-items-stretch" data-aos="fade-right">

          <div class="content">

            <p>Make your impact</p>

            <h3>Fundraise</h3>

             <h3>for...</h3>

            <div class="text-center">

              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>

            </div>

          </div>

        </div>

        <div class="col-lg-8 align-items-stretch">

          <div class="icon-boxes d-flex flex-column justify-content-center">

            <div class="row">

              <div class="col-xl-4 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">

                <div class="icon-box mt-4 mt-xl-0">

                  <i class="bx bx-receipt"></i>

                  <h4><a href="https://gofundmeclone.phpliveprojects.com/category/viewcategory/2">Medical</a></h4>

                 

                </div>

              </div>

              <div class="col-xl-4 align-items-stretch" data-aos="zoom-in" data-aos-delay="200">

                <div class="icon-box mt-4 mt-xl-0">

                  <i class="bx bx-cube-alt"></i>

                  <h4><a href="https://gofundmeclone.phpliveprojects.com/category/viewcategory/4">Emergency</a></h4>

                 

                </div>

              </div>

              <div class="col-xl-4 align-items-stretch" data-aos="zoom-in" data-aos-delay="300">

                <div class="icon-box mt-4 mt-xl-0">

                  <i class="bx bx-images"></i>

                  <h4><a href="https://gofundmeclone.phpliveprojects.com/category/viewcategory/8">Education</a></h4>

                 

                </div>

              </div>

            </div>

          </div><!-- End .content-->

        </div>

      </div>



    </div>

  </section><!-- End Why Us Section -->




  <!-- ======= Testimonials Section ======= -->

  <section id="testimonials" class="testimonials section-bg">

    <div class="container">


<div class="section-title" data-aos="fade-right">

            

            <p>Happening near you</p>

            <h2>Fundraisers in your community</h2>

          </div>


      <div class="row">

        

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">



          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper-wrapper">


              <div class="swiper-slide">

                <div class="testimonial-item">
                   <a href="https://gofundmeclone.phpliveprojects.com/category/categorydetail/7">

                  <img src="https://gofundmeclone.phpliveprojects.com/public/files/ads/1703405744_54947e29572b904ecd2c.jpeg" class="testimonial-img img-fluid" alt="">

                 

                  <h3>Farmwise</h3>

                  <p > <p>This is just dummy for demo purposes, don't ...</p>

                  <h3> USD 93000000 raised &nbsp; &nbsp; 0 Donations</h3>
              </a>
                </div>

              </div><!-- End testimonial item -->
            

              
              <div class="swiper-slide">

                <div class="testimonial-item">
                   <a href="https://gofundmeclone.phpliveprojects.com/category/categorydetail/6">

                  <img src="https://gofundmeclone.phpliveprojects.com/public/files/ads/1694232319_2c9a30f51c39e7cc748a.jpg" class="testimonial-img img-fluid" alt="">

                 

                  <h3>Test fundraise</h3>

                  <p > <p>Test fundraiser text for education purpose.</p></p>

                  <h3> USD 5000 raised &nbsp; &nbsp; 0 Donations</h3>
              </a>
                </div>

              </div><!-- End testimonial item -->
            

              
              <div class="swiper-slide">

                <div class="testimonial-item">
                   <a href="https://gofundmeclone.phpliveprojects.com/category/categorydetail/5">

                  <img src="https://gofundmeclone.phpliveprojects.com/public/files/ads/1692254762_428b706fb8413268e246.jpg" class="testimonial-img img-fluid" alt="">

                 

                  <h3>Animal Rescue farm</h3>

                  <p > <p>Lorum ipsum Lorum ipsum Lorum ipsumLorum ips...</p>

                  <h3> USD 1000 raised &nbsp; &nbsp; 2 Donations</h3>
              </a>
                </div>

              </div><!-- End testimonial item -->
            

              
              <div class="swiper-slide">

                <div class="testimonial-item">
                   <a href="https://gofundmeclone.phpliveprojects.com/category/categorydetail/4">

                  <img src="https://gofundmeclone.phpliveprojects.com/public/files/ads/1692043804_88ad145ad2ea9a7816eb.gif" class="testimonial-img img-fluid" alt="">

                 

                  <h3>Please help</h3>

                  <p > <p>Please help to my friends family.</p></p>

                  <h3> USD 30000 raised &nbsp; &nbsp; 0 Donations</h3>
              </a>
                </div>

              </div><!-- End testimonial item -->
            

              
              <div class="swiper-slide">

                <div class="testimonial-item">
                   <a href="https://gofundmeclone.phpliveprojects.com/category/categorydetail/2">

                  <img src="https://gofundmeclone.phpliveprojects.com/public/files/ads/1691055258_01ce6445a6475ffbb288.jpg" class="testimonial-img img-fluid" alt="">

                 

                  <h3>Test 1</h3>

                  <p > <p>sdfds <strong>sdfdsf </strong>sdfds</p></p>

                  <h3> USD 1000 raised &nbsp; &nbsp; 7 Donations</h3>
              </a>
                </div>

              </div><!-- End testimonial item -->
            

              
              <div class="swiper-slide">

                <div class="testimonial-item">
                   <a href="https://gofundmeclone.phpliveprojects.com/category/categorydetail/1">

                  <img src="https://gofundmeclone.phpliveprojects.com/public/files/ads/1691055274_c7b21f265f037285ea93.jpg" class="testimonial-img img-fluid" alt="">

                 

                  <h3>ttttttt</h3>

                  <p > <p>Lorem ipsum dolor sit amet, consectetur adip...</p>

                  <h3> USD 100 raised &nbsp; &nbsp; 6 Donations</h3>
              </a>
                </div>

              </div><!-- End testimonial item -->
            

              


              


            </div>

            <!-- <div class="swiper-pagination"></div> -->

          </div>

        </div>

      </div>



    </div>

  </section><!-- End Testimonials Section -->



{% endblock %}
