{%extends 'base.html'%} 
{% block content %}
<section id="hero" class="d-flex align-items-center">
  <div
    class="container text-center position-relative"
    data-aos="fade-in"
    data-aos-delay="200"
  >
    <h1>Your home</h1>

    <h2>for help</h2>

    <a href="#about" class="btn-get-started scrollto">Start a GoFundMe</a>
  </div>
</section>
<!-- End Hero -->

<style>
  #hero {
    background: url(https://gofundmeclone.phpliveprojects.com//public/files/site_logo/Maine.jpg) !important;
  }
  button.close.msgclose {
    float: right;
  }
</style>

<main id="main">
  <!-- ======= Services Section ======= -->

  <section id="services" class="services section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-right">
        <p>What to expect</p>

        <h2>Fundraising on GoFundMe takes just a few minutes</h2>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><span class="">1</span></div>

            <h4><a href="">Start with the basics</a></h4>

            <p>Kick things off with your name and location.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><span class="">2</span></div>

            <h4><a href="">Tell your story</a></h4>

            <p>We'll guide you with tips along the way.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><span class="">3</span></div>

            <h4><a href="">Share with friends and family</a></h4>

            <p>People out there want to help you.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= About Section ======= -->

  <section id="about" class="about" style="background: #009970">
    <div class="container">
      <div class="row content">
        <div class="col-lg-12" data-aos="fade-right" data-aos-delay="100">
          <h2>Trust & Safety</h2>

          <h3>We have your back.</h3>

          <p style="color: #fff">
            With a global team dedicated to trust and safety, we’ve successfully
            managed fundraisers worldwide for more than a decade. Don’t worry
            about a thing, we’ve got you covered.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->

  <section id="why-us" class="why-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 align-items-stretch" data-aos="fade-right">
          <div class="content">
            <p>Make your impact</p>

            <h3>Fundraise</h3>

            <h3>for...</h3>

            <div class="text-center">
              <a href="#" class="more-btn"
                >Learn More <i class="bx bx-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-8 align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div
                class="col-xl-4 align-items-stretch"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>

                  <h4>
                    <a
                      href="https://gofundmeclone.phpliveprojects.com/category/viewcategory/2"
                      >Medical</a
                    >
                  </h4>
                </div>
              </div>

              <div
                class="col-xl-4 align-items-stretch"
                data-aos="zoom-in"
                data-aos-delay="200"
              >
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>

                  <h4>
                    <a
                      href="https://gofundmeclone.phpliveprojects.com/category/viewcategory/4"
                      >Emergency</a
                    >
                  </h4>
                </div>
              </div>

              <div
                class="col-xl-4 align-items-stretch"
                data-aos="zoom-in"
                data-aos-delay="300"
              >
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>

                  <h4>
                    <a
                      href="https://gofundmeclone.phpliveprojects.com/category/viewcategory/8"
                      >Education</a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- End .content-->
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Testimonials Section ======= -->

  <section id="testimonials" class="testimonials section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-right">
        <p>Happening near you</p>

        <h2>latest 5 projects</h2>
      </div>

      <div class="row">
        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              {%for project,img in theLatest%}
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a
                    href="{%url 'project_details' project.id%}"
                  >
                    <img
                      src={{img}}
                      class="testimonial-img img-fluid"
                      alt=""
                    />

                    <h3>{{project.name}}</h3>

                    <p></p>
                    <p>{{project.description}}</p>

                    <h3>USD {{project.current_amount}} raised &nbsp; &nbsp; 93000000 Donations</h3>
                  </a>
                </div>
              </div>
              <!-- End testimonial item -->
              {% endfor %}
            </div>
            <!-- <div class="swiper-pagination"></div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->
    
  <!-- ======= Testimonials Section ======= -->

  <section id="testimonial" class="testimonial section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-right">
        <p>Happening near you</p>

        <h2>the top 5 projects</h2>
      </div>

      <div class="row">
        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
          <div
            class="testimonial-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              {%for project,img in theTop%}
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a
                    href="https://gofundmeclone.phpliveprojects.com/category/categorydetail/7"
                  >
                    <img
                      src={{img}}
                      class="testimonial-img img-fluid"
                      alt=""
                    />

                    <h3>{{project.name}}</h3>

                    <p></p>
                    <p>{{project.description}}</p>

                    <h3>USD {{project.target}} raised &nbsp; &nbsp; 93000000 Donations</h3>
                  </a>
                </div>
              </div>
              <!-- End testimonial item -->
              {% endfor %}
            </div>
            <!-- <div class="swiper-pagination"></div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->


    <!-- ======= Testimonials Section ======= -->

    <section id="Featured" class="Featured section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-right">
          <p>Happening near you</p>
  
          <h2>the Featured 5 projects</h2>
        </div>
  
        <div class="row">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
            <div
              class="Featured-slider swiper"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="swiper-wrapper">
                {%for project,img in theFeatured%}
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <a
                      href="https://gofundmeclone.phpliveprojects.com/category/categorydetail/7"
                    >
                      <img
                        src={{img}}
                        class="testimonial-img img-fluid"
                        alt=""
                      />
  
                      <h3>{{project.name}}</h3>
  
                      <p></p>
                      <p>{{project.description}}</p>
  
                      <h3>USD {{project.target}} raised &nbsp; &nbsp; 93000000 Donations</h3>
                    </a>
                  </div>
                </div>
                <!-- End testimonial item -->
                {% endfor %}
              </div>
              <!-- <div class="swiper-pagination"></div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Testimonials Section -->
</main>
  {% endblock %}
